$color-facebook: #3b5998;
$color-twitter: #1DA1F2;
$color-instagram: #E1306C;
$color-linkedin: #0077b5;
$color-youtube: #FF0000;
$color-tiktok: #69C9D0;

$colors: (
    "Rojo": "#FF0000",
    "Verde": "#00FF00",
    "Azul": "#0000FF",
    "Amarillo": "#FFFF00"
);

$tonalidades: (
  rojo: (#E57373, #EF5350, #F44336),
  verde: (#81C784, #66BB6A, #4CAF50),
  azul: (#64B5F6, #42A5F5, #2196F3),
  amarillo: (#FFF176, #FFEE58, #FFEB3B)
);

$color-1: #ff0000;
$color-2: #00ff00;
$color-3: #0000ff;
$color-4: #b115e0;
$color-gris: #d3d3d3;

$fuente-open-sans: 'Open Sans', sans-serif;
$fuente-abril-fatface: 'Abril Fatface', cursive;